.menuNonActive, .menuNonActive:hover{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #2D2D2D;
    margin-top: 14px;
    text-decoration: none !important;
}

.menuActive, .menuActive:hover{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #2075BC;
    padding-top: 24px;
    text-decoration: none !important;
}
.iconMenu{
    padding-right: 10px;
    margin-top: -5px;
}
.textTitle{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 14px;
    color: #2D2D2D;
    margin: 0;
    margin-bottom: -5px;
}
.textName{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    color: #2D2D2D;
    margin: 0;
}
.textMember{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #2D2D2D;
    margin: 0;
}
.textView{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #2075BC;
    margin-top: 5px;
    margin-bottom: 30px;
}