.pages{
    background-color: #223B61;
    width: 100%;
    overflow: visible auto;
    height:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 480px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-right: 20px;
    padding-left: 20px;
}
.pages::-webkit-scrollbar {
    display: none !important;
}

.imgLogo{
    margin-top:20px ;
    width: 26px;
    height: 30.02px;
}
.containerWrapper{
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.rowWrapper{
    padding-left: 20px;
    padding-right: 20px;
}
.gapFirstForm{
    margin-top: 40px;
}
.textForgotPassword{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #2075BC;
}
