.pages{
    width: 100%;
    overflow: visible auto;
    height:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 480px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.pages::-webkit-scrollbar {
    display: none !important;
}
.containerHeader{
    /* position: absolute; */
    background-color: #223B61;
    padding: 0px 30px !important;
}
.containerQr{
    margin-top: 50px;
}
.imgLogo{
    width: 100px;
}
.imgMenu{
    width: 20px;
}
.imgMenuQr{
    width: 107px;
    height: 107px;
}
.rowHeader{
    padding-top: 30px !important;
    padding-bottom: 90px;
}
.TextTitle{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0;
}
.TextSubTitle{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
}
.textAddres{
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: capitalize;
    color: #2D2D2D;
    margin: 0;
}
.textCode{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #2D2D2D; 
    margin: 0;
}