.pages{
    width: 100%;
    overflow: visible auto;
    height:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 480px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.pages::-webkit-scrollbar {
    display: none !important;
}
.containerHeader{
    /* position: absolute; */
    background-color: #223B61;
    padding: 0px 30px !important;
}
.containerQr{
    margin-top: 50px;
}
.imgLogo{
    width: 100px;
}
.imgMenu{
    width: 20px;
}
.imgMenuQr{
    width: 107px;
    height: 107px;
}
.rowHeader{
    padding-top: 30px !important;
    padding-bottom: 90px;
}
.TextTitle{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0;
}
.TextSubTitle{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
}
.textAddres{
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: capitalize;
    color: #2D2D2D;
    margin: 0;
}
.textCode{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #2D2D2D; 
    margin: 0;
}
.textCodeOTP{
    cursor: pointer;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: blue;
    text-decoration: underline; 
    margin: 0;
    margin-top: 10px;
}
.textIDR{
    margin-left: 5px;
    margin-right:5px ;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #2D2D2D;
}
.dropdownButton{
    background: #fff !important;
}
.formControl{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    /* color: #8A93A7; */
    background: #F3F3F4;
    }
    .inputGroup{
        border: 1px solid #DBDFE9;
        border-radius: 6px;
    }
    .rate{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #2D2D2D;
    }
    .dropDownChooseBank{
        display: flex;
        text-align: start;
       flex-direction: column !important;
       background: #F3F3F4;
        border-radius: 6px;
        height: 40px !important;
    }
    .textChoseBank{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #8A93A7;
        float: left;
        margin-right: 300px;
    }
    .btnProceed{
        width: 100%  !important;
        background: #2075BC  !important;
        border-radius: 6px !important;
        font-family: 'Rubik' !important;
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 14px !important;
        text-align: center !important;
        color: #FFFFFF !important;
        margin-top: 30px !important;
        margin-bottom: 30px !important;
        height: 40px !important;
    }
    .formSearch,.formSearch:hover{
        background: #F3F3F4 !important;
        font-family: 'Rubik' !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 12px !important;
        color: #8A93A7 !important;
        border: 1px #F3F3F4 solid !important;
        background-color: #F3F3F4 !important;
    }
    .borderButton{
        border: 1px #F3F3F4 solid !important;
        background-color: #F3F3F4 !important;
    }
    .labelForm{
        margin-top: 20px;
        font-family: 'Rubik' !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        color: #2D2D2D !important;
    }
    .card{
        background: #FFFFFF !important;
        border: 1px solid #DBDFE9!important;
        border-radius: 6px!important;
        width: 100px!important;
        padding: 20px!important;
        margin-bottom: 20px!important;
    }
    .rowBank{
        cursor: pointer !important;
    }
    .buttonBlue, .buttonBlue:hover{
        font-family: 'Rubik' !important;
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 14px !important;
        color: #FFFFFF !important;
        background: #2075BC !important;
        border-radius: 6px !important;
        border: none !important;
        width: 100% !important;
        margin-top: 20px !important;
    }