.pages{
    width: 100%;
    overflow: visible auto;
    height:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 480px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.pages::-webkit-scrollbar {
    display: none !important;
}
.containerHeader{
    position: absolute;
    background-color: #223B61;
    padding: 0px 30px !important;
}
.imgLogo{
    width: 100px;
}
.imgMenu{
    width: 20px;
}
.rowHeader{
    padding-top: 30px !important;
    padding-bottom: 250px;
}
.rowCard{
    place-items: center;
    padding: 20px 12px;
    width: 89% !important;
    margin: -100px 0px !important;
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    position: absolute;
}

.rowCardHeader{
    position: absolute;
    top: 120px;
}
.textTitle{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0;
}
.textSubTitle{
    margin: 0;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
}

.textCardTitle{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    color: #2D2D2D;
}
.badge{
    background: #0A8A71;
    border-radius: 10px;
   padding: 5px 10px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 8px;
    color: #FFFFFF;
}
.textDesc{
    margin: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #2D2D2D;
}
.textSubDesc{
    margin: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #2D2D2D;
}
.imgMenuQr{
    width: 107px;
    height: 107px;
}
.textAddres{
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: capitalize;
    color: #2D2D2D;
    margin: 0;
}
.textCode{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #2D2D2D; 
    margin: 0;
}
.containerQr{
    position: absolute;
    bottom: 10px;
}