.pages{
    background-color: #223B61;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 480px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.imagesLogo{
    width: 176.98px;
    height: 119.81px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}